.container{
    width: 80%;
    margin: 0 auto 0 auto;
}
body {
    border-left: 10px black solid;
    border-top: 10px black solid;
    border-bottom: 10px black solid;
    border-right: 10px black solid;
    background-color: cyan;
    background-size: cover;
  }
h1{
    margin-left: 450px;
    color: black;
}
h2{
     color:purple;
}
td{
    color: red;
}
p{
    color: salmon;
}


